.cartIcon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 60px;
}

.cartIcon:hover {
  cursor: pointer;
}

.countDiv {
  position: absolute;
  color: white;
  background-color: tomato;
  border-radius: 50%;
  padding-left: 6px;
  padding-right: 6px;
  top: 0;
  left: 0;
}

.cartContainer {
  width: 60vw;
  height: 40vh;
  border: 1px solid black;
  position: fixed;
  left: 20px;
  top: 100px;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  overflow-y: scroll;
}

.itemsContainer {
  width: 80%;
}

.item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid black;
  margin: 20px 0;
}

.item > * {
  margin: 0 15px;
}

.quantityBtn {
  width: 20px;
  height: 20px;
}

.counter {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
