.cartIcon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 60px;
}

.cartIcon:hover {
  cursor: pointer;
}

.countDiv {
  position: absolute;
  color: white;
  background-color: tomato;
  border-radius: 50%;
  padding-left: 6px;
  padding-right: 6px;
  top: 0;
  left: 0;
}

.cartContainer {
  width: 80vw;
  height: 60vh;
  border: 1px solid black;
  position: fixed;
  left: 20px;
  top: 100px;
  z-index: 2;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
