@import "./vars.css";

.darkBgColor {
  background-color: var(--bg-color-dark);
}
.darkTxtColor {
  color: var(--text-color-dark);
}
.lightBgColor {
  background-color: var(--bg-color-light);
}
.lightTxtColor {
  color: var(--text-color-light);
}
