@import "../../styles/vars.css";

.news {
  list-style-type: none;
  margin: 0;
}

.news hr {
  margin: 0;
  padding: 0;
  border-color: #e6e154;
}

.newsItem {
  flex-direction: row;
}

.newsItemContent {
  display: flex;
  flex-direction: row;
}

.newsDesc {
  text-align: justify;
}

.newsItemPart {
  padding: 20px;
  width: 50%;
}

.newsTitle {
  text-align: center;
}

.news li:nth-child(even) .newsItemContent {
  flex-direction: row-reverse;
}

.newsLightMode {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.newsDarkMode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.news_loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

.news_loader img {
  width: 100vw;
  height: 40vw;
}

@media (max-width: 400px) {
  .newsItemContent {
    display: block;
  }
  .newsItemPart {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .newsItemContent {
    display: block;
  }
  .newsItemPart {
    width: 80%;
  }
}
