* {
  padding: 0;
}

.mainNavbar {
  min-height: 60px;
  background-image: url(../../assets/images/background.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 100px;
  height: 40px;
  transition: 1s;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.2);
  margin-left: 20px;
}

.departments {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.navbarLoggers > a {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #969547;
}

.navbarLoggers > a:hover {
  cursor: pointer;
  color: gray;
}

.loggerDepartments {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.department {
  margin: 0 10px;
}

.department a {
  transition: 0.4s;
}

.adminPageDep a {
  text-decoration: none;
}

.adminPageDep a:hover {
  cursor: pointer;
  color: gray;
}

.adminPageDep > a {
  margin: 10px;
  transition: 0.4s;
  color: black;
}

<<<<<<< HEAD
.adminPageDep {
  margin: 10px;
  transition: 0.4s;
  color: black;
}

.department:hover {
=======
.department > a:hover {
>>>>>>> 7cba91117789db26cd924bda47f498f7861bb26d
  cursor: pointer;
  color: gray;
}

.department > a {
  padding: 0;
  text-decoration: none;
  color: #969547;
}

.menuIcon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  transition: 0.4s;
}

.menuIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.mobileMenu {
  width: 100%;
  background-color: #b6c7ca;
  color: white;
  position: fixed;
  z-index: 2;
}

.logBtnsContainer {
  display: flex;
  justify-content: center;
}

.mobileMenu a {
  text-decoration: none;
  color: white;
}

.mobileDepartment {
  text-align: center;
  margin: 0px;
  transition: 0.4s;
  margin-bottom: 20px;
}

.mobileDepartment:hover {
  cursor: pointer;
  color: gray;
}

.logSignButton {
  border: 0;
  background: none;
  transition: 0.4s;
  color: rgb(138, 136, 136);
  padding: 10px 20px;
  text-decoration: none;
  color: #969547;
}

.logSignButton:hover {
  background-color: rgba(218, 212, 212, 0.6);
  color: black;
  cursor: pointer;
}

.currentPage {
  border-bottom: 2px solid black;
}

@media screen and (max-width: 600px) {
  .menuIcon {
    display: block;
  }

  .loggerDepartments {
    display: none;
  }
}
