.mainNavbar {
  width: 100%;
  min-height: 60px;
  background-color: #b6c7ca;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: fixed;
}

.logo {
  width: 100px;
  height: 40px;
  transition: 1s;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.2);
  margin-left: 20px;
}

.departments {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.navbarLoggers {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
}

.loggerDepartments {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.department {
  margin: 10px;
  transition: 0.4s;
}

.department:hover {
  cursor: pointer;
  color: gray;
}

.menuIcon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  transition: 0.4s;
}

.menuIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.cartContainer {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 60px;
}

.countDiv {
  position: absolute;
  color: white;
  background-color: tomato;
  border-radius: 50%;
  padding-left: 6px;
  padding-right: 6px;
  top: 0;
  left: 0;
}

.mobileMenu {
  width: 100%;
  margin-top: 80px;
  background-color: #b6c7ca;
  color: white;
  position: fixed;
}

.logBtnsContainer {
  display: flex;
  justify-content: center;
}

.mobileDepartment {
  text-align: center;
  margin: 0px;
  transition: 0.4s;
  margin-bottom: 20px;
}

.mobileDepartment:hover {
  cursor: pointer;
  color: gray;
}

.logSignButton {
  border: 0;
  background: none;
  transition: 0.4s;
  color: white;
  padding: 10px 20px;
}

.logSignButton:hover {
  background-color: rgba(218, 212, 212, 0.6);
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .menuIcon {
    display: block;
  }

  .loggerDepartments {
    display: none;
  }
}
