@import "../../styles/vars.css";

.heading {
  text-align: center;
  height: 60px;
  padding: 5px 50px;
  margin: auto;
  font-size: 16px;
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.headingLightMode {
  background-color: var(--bg-color-secondary-light);
  color: var(--text-color-light);
}

.headingDarkMode {
  background-color: var(--bg-color-secondary-dark);
  color: var(--text-color-dark);
}

.mainLightMode {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.mainDarkMode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}
.pageList{
  background-color: var(--bg-color-dark);
}

.myPages{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  width:30%;
  margin:auto
}
