.heading{
    background-color: #2b2b2a;
    text-align: center;
    color: white;
    height: 60px;
    padding: 5px 50px;
    margin: auto;
    font-size: 16px;
}
.main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #333;
    padding-bottom: 30px;
}